<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012620034683-n4t39ilmi65jjon0n5sl5p5lnpr2sg13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012620034683-n4t39ilmi65jjon0n5sl5p5lnpr2sg13</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJwGljB2Lu2cvI6aZrt_MppXk0Zi_aHA</string>
	<key>GCM_SENDER_ID</key>
	<string>1012620034683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>news-app-ba88b</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-ba88b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012620034683:ios:56a3a3282e14362f9c58de</string>
</dict>
</plist>